<a class="mdl-navigation__link" href="mailto:{{ site.email }}"><i class="zmdi zmdi-email zmdi-hc-2x"></i>{{ site.email }}</a>
<a class="mdl-navigation__link" href="https://github.com/{{ site.github }}"><i class="zmdi zmdi-github zmdi-hc-2x"></i>Github</a>
<a class="mdl-navigation__link" href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="zmdi zmdi-linkedin-box zmdi-hc-2x"></i>LinkedIn</a>
<a class="mdl-navigation__link" href="https://stackoverflow.com/users/{{ site.stackoverflow }}"><i class="zmdi zmdi-stack-overflow zmdi-hc-2x"></i>StackOverflow</a>
