---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import ContentMenu from "../../components/ContentMenu.astro";
import Footer from "../../components/Footer.astro";

const allPosts = await getCollection("guides");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
---

<Layout title={pageTitle}>
  <div class="container px-6 m-auto">
    <Header />
    <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
      <div class="col-span-4 lg:col-span-3"><ContentMenu /></div>
      <div class="col-span-4 lg:col-span-6">
        <main>
          <section>
            <div
              class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24"
            >
              <div class="max-w-xl mx-auto text-center lg:p-10">
                <div>
                  <p class="max-w-xl mx-auto mt-4 text-lg tracking-tight text-zinc-600">{pageTitle}</p>
                  <ul>
                    {
                      tags.map((tag) => (
                        <li>
                          <a
                            href={`/tags/${tag}`}
                            class="inline-flex items-center text-sm transition-colors rounded text-blue-700 hover:text-zinc-500 hover:bg-zinc-50 focus:bg-zinc-50 aria-[current=page]:text-zinc-500 aria-[current=page]:bg-zinc-50"
                          >
                            <span class="ml-4">{tag}</span>
                          </a>
                        </li>
                      ))
                    }
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      <div class="col-span-4 lg:col-span-3"></div>
    </div>
    <Footer />
  </div>
</Layout>