---
import SimpleHero from "../layouts/SimpleHero.astro";
---

<SimpleHero title="Christopher Markus Software Development">
  <section>
    <div
      class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24"
    >
      <div class="max-w-xl mx-auto text-center lg:p-10">
        <div>
          <p class="mt-8 text-5xl font-medium tracking-tighter text-black">
            CMSD Docs
          </p>
          <p class="max-w-xl mx-auto mt-4 text-lg tracking-tight text-zinc-600">
            My journal of technical docs
          </p>
        </div>
      </div>
    </div>
  </section>
</SimpleHero>
