---
import Layout from "../layouts/Layout.astro";
import ContentMenu from "../components/ContentMenu.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Christopher Markus Software Development">
  <div class="container px-6 m-auto">
    <Header />
    <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
      <div class="col-span-4 lg:col-span-3"><ContentMenu /></div>
      <div class="col-span-4 lg:col-span-6">
        <main>
          <section>
            <div
              class="items-center px-8 py-12 mx-auto max-w-7xl lg:px-16 md:px-12 lg:py-24"
            >
              <div class="max-w-xl mx-auto text-center lg:p-10">
                <div>
                  <p
                    class="mt-8 text-5xl font-medium tracking-tighter text-black"
                  >
                    CMSD Docs
                  </p>
                  <p
                    class="max-w-xl mx-auto mt-4 text-lg tracking-tight text-zinc-600"
                  >
                    My journal of public docs
                  </p>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      <div class="col-span-4 lg:col-span-3"></div>
    </div>
    <Footer />
  </div>
</Layout>
