---
import logo from "../assets/logo_a_1.svg";
import linkedin from "../assets/logo-linkedin.svg";
import github from "../assets/logo-github.svg";
---

<!-- Component: Footer with Three Columns and Sub Footer -->
<footer>
  <!-- Main footer -->
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="#" class="text-sm text-sand-500 hover:text-blue-600">
          Built with:
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="https://astro.build/" class="text-sm text-sand-500 hover:text-blue-600">Astro</a>
      </div>

      <div class="px-5 py-2">
        <a href="https://tailwindcss.com/" class="text-sm text-sand-500 hover:text-blue-600">
          Tailwind
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="https://alpinejs.dev/" class="text-sm text-sand-500 hover:text-blue-600">
          Alpine.js
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="https://ionic.io/ionicons" class="text-sm text-sand-500 hover:text-blue-600">
          ionicons
        </a>
      </div>
    </nav>
    <div class="flex justify-center mt-8 space-x-6">
      <span
        class="inline-flex justify-center w-full gap-3 m-auto md:justify-start md:w-auto"
      >
        <a
          href="https://www.linkedin.com/in/cmarkus"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 48 48"
            height="16"
            width="16"
          >
            <title id="title-tb01">linkedin title</title>
            <img src={linkedin.src} alt="linkedin logo" width="16" />
          </svg>
        </a>
        <a
          href="https://github.com/getmarkus"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 48 48"
            height="16"
            width="16"
          >
            <title id="title-tb02">github title</title>
            <img src={github.src} alt="linkedin logo" width="16" />
          </svg>
        </a>
      </span>
    </div>
  </div>
  <!-- Sub Footer -->
  <div class="py-4 text-sm border-t border-sand-200">
    <div class="container px-6 mx-auto">
      <div
        class="grid items-center grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12"
      >
        <a
          aria-label="CMSD logo"
          aria-current="page"
          class="flex items-center col-span-2 gap-2 leading-6 focus:outline-none md:col-span-4 lg:col-span-6"
          href="/"
        >
          <img src={logo.src} alt="CMSD logo" width="50" />
           © 2023 by Christopher Markus is licensed under CC BY 4.0
        </a>
        <nav
          class="col-span-2 md:col-span-4 lg:col-span-6"
        >
          <ul class="flex flex-wrap items-center justify-end gap-2 lg:gap-4">
            <li class="leading-6">
              <a
                href="/terms"
                class="hover:text-blue-500"
              >
                T&C
              </a>
            </li>
            <li class="leading-6">
              <a
                href="javascript:void(0)"
                class="hover:text-blue-500"
              >
                Privacy</a
              >
            </li>
            <li class="leading-6">
              <a
                href="/cookies"
                class="hover:text-blue-500"
              >
                Cookies
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer with Three Columns and Sub Footer -->
