---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!-- https://tailwindcss.com/docs/typography-plugin --><!-- <article
  class="prose max-w-none prose-sm
  prose-h1:font-bold prose-h1:prose-xl
  prose-a:text-blue-600
  prose-p:text-justify"
>
  <h1>{title}</h1>
  <slot />
</article> -->
<article
  class="prose prose-sand
    prose-sm 
    prose-a:text-blue-600
    prose-a:no-underline
    prose-p:text-justify"
>
  <h2>{title}</h2>
  <slot />
</article>
