<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Important prelude -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Metadata -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="author" content="{{ site.name }} - {{ site.title }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="application-name" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:type" content="website" />
    <!--#could be dynamic-->
    <!--<meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/xxx" />
    <meta property="article:publisher" content="https://www.facebook.com/xxx" />
    <meta property="article:published_time" content="" />
    <meta property="article:modified_time" content="" />
    <meta property="article:section" content="" />
    <meta property="article:tag" content="" />-->

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!--<link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png"> -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="icon" href="favicon.ico" />

    <!-- Routing -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " feed.xml " | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ " atom.xml " | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.grey-blue.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="/solarized-dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/site.css">
    
    <style media="print">
        @media print {
            .mdl-layout--fixed-drawer {
                margin-left: 0px;
                width: 100%;
            }
            .mdl-layout--fixed-drawer>.mdl-layout__content {
                margin-left: 0px;
            }
            .no-print {
                display: none;
            }
            .mdl-layout__container,
            .mdl-layout,
            .mdl-layout__content,
            .content,
            .mdl-grid,
            .mdl-cell {
                float: none;
                !important overflow: auto;
                !important display: inline;
                !important width: auto;
                height: auto;
                border: 0;
                margin: 0;
                padding: 0;
            }
            h1,
            h2,
            h3,
            h4,
            h5 {
                page-break-before: always;
                page-break-after: avoid;
            }
        }
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
        <header class="mdl-layout__header no-print">
            <div class="mdl-layout__header-row">
                <a class="mdl-navigation__link" href="/"><span class="mdl-layout-title">{{ site.name }}&nbsp;</span><span class="mdl-layout-title no-print">- {{ site.title }}</span></a>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer no-print">
            <header class="custom-drawer-header">
                <a class="mdl-navigation__link" href="/"><span class="mdl-layout-title">{{ site.name }}</span></a>
                <a class="mdl-navigation__link" href="/"><span>{{ site.title }}</span></a>
            </header>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="mailto:{{ site.email }}"><i class="zmdi zmdi-email zmdi-hc-2x"></i>{{ site.email }}</a>
                <a class="mdl-navigation__link" href="https://github.com/{{ site.github }}"><i class="zmdi zmdi-github zmdi-hc-2x"></i>Github</a>
                <a class="mdl-navigation__link" href="https://www.linkedin.com/in/{{ site.linkedin }}"><i class="zmdi zmdi-linkedin-box zmdi-hc-2x"></i>LinkedIn</a>
                <a class="mdl-navigation__link" href="https://stackoverflow.com/users/{{ site.stackoverflow }}"><i class="zmdi zmdi-stack-overflow zmdi-hc-2x"></i>StackOverflow</a>
                <a class="mdl-navigation__link" href="/resume_text.html"><i class="zmdi zmdi-file-text zmdi-hc-2x"></i>Text Resume</a>
                <div class="drawer-separator"></div>
                <a class="mdl-navigation__link" href="/mdl-concise-styleguide/"><i class="zmdi zmdi-language-css3 zmdi-hc-2x"></i>Concise MDL</a>
                <a class="mdl-navigation__link" href="/jekyll-material-design-lite/"><i class="zmdi zmdi-copy zmdi-hc-2x"></i>Jekyll-MDL</a>
            </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
            {{ content }}

            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">&copy; {{ 'now' | date: "%Y" }} {{ site.name }} - {{ site.title }}</div>
                </div>
            </footer>
        </main>
    </div>

    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    {% include google.html %}
</body>

</html>
